<body>
  <app-bottom></app-bottom>
<h1>Dominican Republic</h1>
<img src="../assets/blob.jpg">
<ol >
    <li><a href="https://es.wikipedia.org/wiki/Azua">Azua</a></li>
    <ul>
      <li>Poblacion: 289,264</li>
      <li>Senador:Lia Diaz</li>
      <img src="../assets/105px-Escudo_de_la_provincia_de_Azua_de_Compostela.jpg">
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Barahona,_Dominican_Republic">Barahona</a></li>
    <ul>
      <li>Poblacion:226,898</li>
      <li>Senador:Jose Manuel del Castillo Savinon</li>
      <img src="../assets/113px-Escudo_de_la_Provincia_Barahona.svg.png">
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Baoruco_Province">Bahoruco</a></li>
    <ul>
    <li>Senador:Melania Salvador Jimenez</li>
    <li>Poblacion:111,269</li>
      <img src="../assets/Escudo_de_la_Provincia_Bahoruco.png">
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Dajab%C3%B3n">Dajabon</a></li>
    <ul>
      <li> Senador: David Sosa </li>
      <li> Población: 67,887 </li>  
      <img src="../assets/Escudo_de_la_Provincia_Dajabón.png" >  
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Distrito_Nacional">Distrito Nacional</a></li>
    <ul>
      <li> Senador: Faride Raful </li>
      <li> Población: 1,484,789 </li>      
      <img src="../assets/113px-Escudo_de_la_Provincia_Distrito_Nacional.png">
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte</a></li>
    <ul>
      <li> Senador: Franklin Romero Morillo </li>
      <li> Población: 384,789 </li>
<img src="../assets/Escudo_de_la_Provincia_Duarte.png">
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/El%C3%ADas_Pi%C3%B1a_Province">Elías Piña</a></li>
    <ul>
      <li> Senador: Aris Yván Lorenzo Suero</li>
      <li> Población: 70,589 </li>
      <img src="../assets/Escudo_de_la_Provincia_Elías_Piña.png">
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/El_Seibo">El Seibo</a></li>
    <ul>
      <li> Senador: Santiago Jose Zorrilla </li>
      <li> Población: 115,889 </li>
      <img src="../assets/Escudo_de_la_Provincia_El_Seibo.svg.png">
     </ul>      
    <li><a href="https://en.wikipedia.org/wiki/Espaillat_Province">Espaillat</a></li>
    <ul>
      <li> Senador: Carlos Gómez </li>
      <li> Población: 390,478</li>
      <img src="../assets/Escudo_de_la_Provincia_Espaillat.png">
      </ul>      
    <li><a href="https://es.wikipedia.org/wiki/Hato_Mayor">Hato Mayor</a></li>
    <ul>
      <li> Senador: Cristobal Castillo </li>
      <li> Población: 89,578</li>
      <img src="../assets/Escudo_de_la_Provincia_Hato_Mayor.png">
      </ul>      
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hermanas_Mirabal">Hermanas Mirabal</a></li>
    <ul>
      <li> Senador: Luis Canaán</li>
      <li> Población: 103,974 </li>
      <img src="../assets/Escudo_de_la_Provincia_Hermanas_Mirabal.png">
      </ul>      
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia">Independencia</a></li>
    <ul>
      <li> Senador: Valentín Medrano</li>
      <li> Población: 54,785 </li>
      <img src="../assets/Escudo_de_la_Provincia_Independencia.png">
    </ul>  
    <li><a href="https://en.wikipedia.org/wiki/La_Altagracia_Province">La Altagracia</a></li>
    <ul>
      <li> Senador: Virgilio Cedano</li>
      <li> Población: 335,677 </li>
      <img src="../assets/Escudo_de_la_Provincia_La_Altagracia.png">
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/La_Romana,_Dominican_Republic">La Romana</a></li>
    <ul>
      <li> Senador: Iván Fernández</li>
      <li> Población: 330,587 </li>
      <img src="../assets/Escudo_de_la_Provincia_La_Romana.svg.png">
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/La_Vega,_Dominican_Republic">La Vega</a></li>
    <ul>
      <li> Senador: Ramón Durán</li>
      <li> Población: 420,478 </li>
      <img src="../assets/Escudo_de_la_Provincia_La_Vega.png">
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Mar%C3%ADa_Trinidad_S%C3%A1nchez">María Trinidad Sánchez</a></li>
    <ul>
      <li> Senador: Alexis Yeb</li>
      <li> Población: 140,784</li>
      <img src="../assets/Escudo_de_la_Provincia_María_Trinidad_Sánchez.png">
      </ul>
 
    <li><a href="https://en.wikipedia.org/wiki/Monse%C3%B1or_Nouel_Province">Monseñor Nouel</a></li>
    <ul>
      <li> Senador: Héctor Acosta</li>
      <li> Población: 201,474</li>
      <img src="../assets/Escudo_de_la_Provincia_Monseñor_Nouel.png">
      </ul>

    <li><a href="https://en.wikipedia.org/wiki/Monte_Cristi,_Dominican_Republic">Monte Cristi</a></li>
    <ul>
      <li> Senador: Ramón Gómez</li>
      <li> Población: 135,710</li>
      <img src="../assets/Escudo_de_la_Provincia_Monte_Cristi.png">
      </ul>      
    <li><a href="https://en.wikipedia.org/wiki/Monte_Plata">Monte Plata</a></li>
    <ul>
      <li> Senador: Lenin López</li>
      <li> Población: 200,454</li>\
      <img src="../assets/Escudo_de_la_Provincia_Monte_Plata.png">
      </ul>
      
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Pedernales">Pedernales</a></li>
    <ul>
      <li> Senador: Dionis Carrasco</li>
      <li> Población: 38,941</li>
      <img src="../assets/Escudo_de_la_Provincia_Pedernales.png">
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/Peravia_Province">Peravia</a></li>
    <ul>
      <li> Senador: Milcíades Franjul</li>
      <li> Población: 298,747</li>
      <img src="../assets/Escudo_de_la_Provincia_Peravia.png">
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/Puerto_Plata,_Dominican_Republic">Puerto Plata</a></li>
    <ul>
      <li> Senador:Ginnette Altagracia Bournigal </li>
      <li> Población: 490,733</li>
      <img src="../assets/Escudo_de_la_Provincia_Puerto_Plata.svg.png">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/Saman%C3%A1_Province">Samaná</a></li>
    <ul>
      <li> Senador:Pedro Catrain </li>
      <li> Población:168,265 </li>
      <img src="../assets/Escudo_de_la_Provincia_Samaná.svg.png">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/San_Crist%C3%B3bal_Province">San Cristóbal</a></li>
    <ul>
      <li> Senador:Franklin Rodríguez </li>
      <li> Población:859,741 </li>
      <img src="../assets/Escudo_de_la_Provincia_San_Cristóbal.png">
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/San_Jos%C3%A9_de_Ocoa">San José de Ocoa</a></li>
    <ul>
      <li> Senador:José Antonio Castillo</li>
      <li> Población: 82,458 </li>
      <img src="../assets/Escudo_de_la_Provincia_San_José_de_Ocoa.png">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/San_Juan_Province_%28Dominican_Republic%29">San Juan</a></li>
    <ul>
      <li> Senador:Félix Bautista</li>
      <li> Población:300,476 </li>
      <img src="../assets/Escudo_de_la_Provincia_San_Juan.svg.png">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
    <ul>
      <li> Senador:Franklin Peña</li>
      <li> Población: 418,850</li>
      <img src="../assets/Escudo_de_la_Provincia_San_Pedro_de_Macorís.png">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/S%C3%A1nchez_Ram%C3%ADrez_Province">Sanchez Ramirez</a></li>
    <ul>
      <li> Senador:Ricardo de los Santos</li>
      <li> Población:164,941 </li>
      <img src="../assets/Escudo_de_la_Provincia_Sánchez_Ramírez.png">
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(Rep%C3%BAblica_Dominicana)">Santiago</a></li>
    <ul>
      <li> Senador:Eduardo Estrella</li>
      <li> Población: 1,833,451</li>
      <img src="../assets/Escudo_de_la_Provincia_Santiago.svg.png">
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_Rodr%C3%ADguez">Santiago Rodríguez</a></li>
    <ul>
      <li> Senador:Antonio Marte</li>
      <li> Población: 164,941</li>
      <img src="../assets/Escudo_de_la_Provincia_Santiago_Rodríguez.png">
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/Santo_Domingo">Santo Domingo</a></li>
    <ul>
      <li> Senador:Antonio Taveras </li>
      <li> Población:4,995,211 </li>
      <img src="../assets/Escudo_de_la_Provincia_Santo_Domingo.png">
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Valverde"id="bottom">Valverde</a></li>
    <ul>
      <li> Senador: Edilberto Nolasco</li>
      <li> Población: 207,447</li>
      <img src="../assets/Escudo_del_Municipio_Mao.svg.png">
      </ul>
  </ol>
  <app-top></app-top>
</body>
