<ol >
    <li><a href="https://es.wikipedia.org/wiki/Azua">Azua</a></li>
    <ul>
      <li>Poblacion: 289,264</li>
      <li>Senador:Lia Diaz</li>
      <img src="../assets/azua.png">
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Barahona,_Dominican_Republic">Barahona</a></li>
    <ul>
      <li>Poblacion:226,898</li>
      <li>Senador:Jose Manuel del Castillo Savinon</li>
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Baoruco_Province">Bahoruco</a></li>
    <ul>
    <li>Senador:Melania Salvador Jimenez</li>
    <li>Poblacion:111,269</li>
      
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Dajab%C3%B3n">Dajabon</a></li>
    <ul>
      <li> Senador: David Sosa </li>
      <li> Población: 67,887 </li>      
    </ul>
    <li><a href="https://en.wikipedia.org/wiki/Distrito_Nacional">Distrito Nacional</a></li>
    <ul>
      <li> Senador: Faride Raful </li>
      <li> Población: 1,484,789 </li>      
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Duarte">Duarte</a></li>
    <ul>
      <li> Senador: Franklin Romero Morillo </li>
      <li> Población: 384,789 </li>

    </ul>
    <li><a href="https://en.wikipedia.org/wiki/El%C3%ADas_Pi%C3%B1a_Province">Elías Piña</a></li>
    <ul>
      <li> Senador: Aris Yván Lorenzo Suero</li>
      <li> Población: 70,589 </li>
    </ul>
    <li><a href="https://es.wikipedia.org/wiki/El_Seibo">El Seibo</a></li>
    <ul>
      <li> Senador: Santiago Jose Zorrilla </li>
      <li> Población: 115,889 </li>
     </ul>      
    <li><a href="https://en.wikipedia.org/wiki/Espaillat_Province">Espaillat</a></li>
    <ul>
      <li> Senador: Carlos Gómez </li>
      <li> Población: 390,478</li>
      </ul>      
    <li><a href="https://es.wikipedia.org/wiki/Hato_Mayor">Hato Mayor</a></li>
    <ul>
      <li> Senador: Cristobal Castillo </li>
      <li> Población: 89,578</li>
      </ul>      
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hermanas_Mirabal">Hermanas Mirabal</a></li>
    <ul>
      <li> Senador: Luis Canaán</li>
      <li> Población: 103,974 </li>
      </ul>      
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Independencia">Independencia</a></li>
    <ul>
      <li> Senador: Valentín Medrano</li>
      <li> Población: 54,785 </li>
    </ul>  
    <li><a href="https://en.wikipedia.org/wiki/La_Altagracia_Province">La Altagracia</a></li>
    <ul>
      <li> Senador: Virgilio Cedano</li>
      <li> Población: 335,677 </li>
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/La_Romana,_Dominican_Republic">La Romana</a></li>
    <ul>
      <li> Senador: Iván Fernández</li>
      <li> Población: 330,587 </li>
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/La_Vega,_Dominican_Republic">La Vega</a></li>
    <ul>
      <li> Senador: Ramón Durán</li>
      <li> Población: 420,478 </li>
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Mar%C3%ADa_Trinidad_S%C3%A1nchez">María Trinidad Sánchez</a></li>
    <ul>
      <li> Senador: Alexis Yeb</li>
      <li> Población: 140,784</li>
      </ul>
 
    <li><a href="https://en.wikipedia.org/wiki/Monse%C3%B1or_Nouel_Province">Monseñor Nouel</a></li>
    <ul>
      <li> Senador: Héctor Acosta</li>
      <li> Población: 201,474</li>
      </ul>

    <li><a href="https://en.wikipedia.org/wiki/Monte_Cristi,_Dominican_Republic">Monte Cristi</a></li>
    <ul>
      <li> Senador: Ramón Gómez</li>
      <li> Población: 135,710</li>
      </ul>      
    <li><a href="https://en.wikipedia.org/wiki/Monte_Plata">Monte Plata</a></li>
    <ul>
      <li> Senador: Lenin López</li>
      <li> Población: 200,454</li>
      </ul>
      
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Pedernales">Pedernales</a></li>
    <ul>
      <li> Senador: Dionis Carrasco</li>
      <li> Población: 38,941</li>
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/Peravia_Province">Peravia</a></li>
    <ul>
      <li> Senador: Milcíades Franjul</li>
      <li> Población: 298,747</li>
      </ul>
      
    <li><a href="https://en.wikipedia.org/wiki/Puerto_Plata,_Dominican_Republic">Puerto Plata</a></li>
    <ul>
      <li> Senador:Ginnette Altagracia Bournigal </li>
      <li> Población: </li>
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/Saman%C3%A1_Province">Samaná</a></li>
    <ul>
      <li> Senador:Pedro Catrain </li>
      <li> Población: </li>
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/San_Crist%C3%B3bal_Province">San Cristóbal</a></li>
    <ul>
      <li> Senador:Franklin Rodríguez </li>
      <li> Población: </li>
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/San_Jos%C3%A9_de_Ocoa">San José de Ocoa</a></li>
    <ul>
      <li> Senador:José Antonio Castillo</li>
      <li> Población: </li>
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/San_Juan_Province_%28Dominican_Republic%29">San Juan</a></li>
    <ul>
      <li> Senador:Félix Bautista</li>
      <li> Población: </li>
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/San_Pedro_de_Macor%C3%ADs">San Pedro de Macorís</a></li>
    <ul>
      <li> Senador:Franklin Peña</li>
      <li> Población: </li>
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/S%C3%A1nchez_Ram%C3%ADrez_Province">Sanchez Ramirez</a></li>
    <ul>
      <li> Senador:Ricardo de los Santos</li>
      <li> Población: </li>
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(Rep%C3%BAblica_Dominicana)">Santiago</a></li>
    <ul>
      <li> Senador:Eduardo Estrella</li>
      <li> Población: </li>
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_Rodr%C3%ADguez">Santiago Rodríguez</a></li>
    <ul>
      <li> Senador:Antonio Marte</li>
      <li> Población: </li>
      </ul>
    <li><a href="https://en.wikipedia.org/wiki/Santo_Domingo">Santo Domingo</a></li>
    <ul>
      <li> Senador:Antonio Taveras </li>
      <li> Población: </li>
      </ul>
    <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Valverde">Valverde</a></li>
    <ul>
      <li> Senador: Edilberto Nolasco</li>
      <li> Población: </li>
      </ul>
  </ol>
